body{
    background-color: #090613;
    height: 100%;
    width: 100%;
    margin : 0;
    padding: 0;
}
.bg-color{
    background-color: #090613;
}
.links{
    opacity: 0;
   
}

.linkdiv:hover + .links{
    opacity: 1;
    color: white;
    transition-duration: 0.5s;
    font-weight: bold;
    
}

.img-box{
    box-shadow: rgb(000 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    border: 3px solid rgba(249, 249, 249, 0.1);
    
}
.img-box:hover{
    box-shadow: rgb(000 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    transform: scale(1.05);
    border: 3px solid rgba(249, 249, 249, 0.8);
    border-radius: 10px;
}
.img-box:hover  .video{
    opacity: 1;
}

.container {
    display: grid;
    grid-template-rows: auto auto auto;
    place-items: center;
    min-height: 100vh;
  }
  .arrows{
    background-color: #090613;
  }
  .arrows input[type=number]::-webkit-inner-spin-button,
  .arrows input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

 @media screen and (min-width : 768px){
    .img-testimonials{
        width: 80%;
        height: 70vh;
    }
    .search{
        width: 90vw;
    }
    .images{
        opacity: 0.7;
    }
    .videos{
        opacity: 0.7;
       }
 }

 @media screen and (max-width : 767px){
    .img-testimonials{
       width: auto;
       height : auto;
    }
    .btn{
        width: 3px;
        height: 3px;
        padding: 1px 1px;
    }
    .search{
        width: 90vw;
    }
   .images{
    opacity: 100%;
   }
   .videos{
    opacity: 100%;
   }
 }

